
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    max-width: 100%;
}
@media screen and (max-width: 800px) {
    *{
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
}
.btn {
  margin-top: -55px;
  margin-right: 120px;
  border-radius: 10px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  
}
.btn-counter { margin-right: 3px; }
.btn-counter:after,
.btn-counter:hover:after { text-shadow: none; }
.btn-counter:after {
  position: relative;
  left: 4px;
  top: 45px;
  border-radius: 10px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.btn-counter:before {
  transform: rotate(45deg);
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476, sizingMethod='auto expand');

  background-color: #eee;
  border: 1px solid #ffffff;
  border-right: 0;
  border-top: 0;
  content: '';
  position: absolute;
  right: -13px;
  top: 5px;
  height: 6px;
  width: 6px;
  z-index: 1;
  zoom: 1;
}
/*
 * Custom styles
 */
.btn {
  background-color: #ffffff;
  border-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  
}
.btn:hover,
.btn.active {
  text-shadow: 0 1px 0 #b12f27;
  background-color: #f64136;
  border-color: #b12f27;
}
.btn:active { box-shadow: 0 0 5px 3px rgba(0,0,0,0.2) inset; }
.btn span { color: #f64136; }
.btn:hover, .btn:hover span,
.btn.active, .btn.active span { color: #eeeeee; }
.btn:active span {
  color: #b12f27;
  text-shadow: 0 1px 0 rgba(255, 255, 255);
}

.sign-in-text{
  position: fixed;
  z-index: 11;
  height: 24px;
  left: 1710px;

  top: 35px;
  
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}
.logout input[type=button]{
  position: fixed;
  z-index: 11;
  height: 35px;
  width: 80px;
  top: 25px;
  left: 1820px;
  border: none;

  border: none;
  background: #01BFA4;
  border-radius: 5px;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
  color: #FFFFFF;
}

.product-item {
  z-index: 9;
  float: left;
  width: 194.24px;
  height: 380.86px;
  margin-top: 180px;
  margin-left: 100px;
  background: #1D2837;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.product-name p{
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  text-align: center;
  padding-top: 262.5px;
  color: #FFFFFF;
}

.product-price input[type='submit']{
  margin-top: 30px;
  margin-left: 80px;
  width: 75px;
  height: 38.09px;
  background: #00BF6C;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  color: #FFFFFF;
}
.line{
  position: absolute;
  left: 100px;
  top: 521px;
  width: 1700px;
  border: 1px solid #000000;
}
.text-product p{
  position: absolute;
  width: 82px;
  height: 41.86px;
  left: 100px;
  top: 479.3px;

  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  
  color: #000000;
}
.image-slider img{
  margin-top: 30px;
  margin-left: 120px;
}

