{% extends 'navbar.html' %}
{% block content %}
<form method="post" action="/product/add" enctype='multipart/form-data'>
    <dl>
        <p>
            Name: <input name="inputName" value="" type="text" placeholder="Name">
        </p>
        <p>
            Price: <input name="inputPrice" value="" type="text" placeholder="Price">
        </p>
        <p>
            Product Picture: <input type="file" name="file" autocomplete="off">
        </p>
    </dl>
    <p>
        <input type="submit" value="Submit">
    </p>
</form>
{% endblock %}