{% extends 'navbar.html' %}
{% block content %}
<form method="post" action="/product/add" enctype='multipart/form-data'>
    <dl>
        <p>
            PictureName: <input name="inputID" value="" type="text" placeholder="PictureName" required>
        </p>
        <p>
            ProductName: <input name="inputName" value="" type="text" placeholder="ProductName">
        </p>
        <p>
            ProductPrice: <input name="inputPrice" value="" type="text" placeholder="ProductPrice">
        </p>
        <p>
            Product Picture: <input type="file" name="file" autocomplete="off">
        </p>
    </dl>
    <p>
        <input type="submit" value="Submit">
    </p>
</form>
{% endblock %}