
{% extends 'navbar.html' %}
    
{% block content %}
    <head>
        <link rel="stylesheet"  type="text/css" href="{{url_for('static',filename='css/manga_best_seller.css')}}">  
    </head>
    {% if 'loggedin' in session: %}
        <div class="sign-in-text">
            <p>{{ session['username']}}</p> 
            <a href="signout">  
                <div class="logout">
                    <input type="button" value="LOGOUT">
                </div>
            </a>        
        </div>
    {% else: %}
        <div class="sign-in-text">
            <p>ผอ รสนิยมดี</p>         
        </div>
    {% endif %}
    <div class="text-header">
        <h1>มังงะขายดี</h1>
    </div>
    <div class="img-shopping-cart">
        <a href="/shopping_cart">
            <img src="{{url_for('static',filename='images/accessory/shopping-cart.png')}}" alt="">
        </a>
    </div>
    <div class="line"></div>
    {% for items in data %}
        <form method="post" action="/add_product">
            <div class="product-item">
                <div class="product-name">
                    <div class="product-image">
                        <img src="{{ url_for('static', filename='/images/products/images/' +items['product_images'] ) }} ">
                    </div>
                    <p>{{items.product_name}}</p>
                    <div class="product-price">
                        <input type="submit" value="{{items.product_price}} BATH">
                        <input class="product-quantity"  type="text"  name="quantity" value="1">
                        <div class="hiddent-input">
                            <input type="hidden" name="code" value="{{ items['product_id'] }}" />
                            <input type="hidden" name="name" value="{{ items['product_name'] }}" />
                            <input type="hidden" name="price" value="{{ items['product_price'] }}" />
                            <input type="hidden" name="image" value="{{ items['product_images'] }}" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    {% endfor %}
    <div class="imge-left">
        <img src="{{url_for('static',filename='../static/images/accessory/bg-right.png')}}">
    </div>
    <div class="imge-right">
        <img src="{{url_for('static',filename='../static/images/accessory/bg-left.png')}}">
    </div> 
{% endblock %}