
{% extends 'navbar.html' %}
    
{% block content %}
    <head>
        <link rel="stylesheet"  type="text/css" href="{{url_for('static',filename='css/manga_best_seller.css')}}">
    </head>
    <body >
        <div class="text-product">
            <h1>มังงะขายดี</h1>
        </div>
        <div class="line"></div>
        {% for items in data %}
            <div class="product-item">
                <div class="product-name">
                    <p>{{items.product_name}}</p>
                    <div class="product-price">
                        <input type="submit" value="{{items.product_price}} BATH">
                        <li title="Love it" class="btn" data-count="0"><span>&#x2764;</span></li> 
                    </div>
                </div>
            </div>
        {% endfor %}
    </body>
    <footer>
        <!-- <div class="imge-left">
            <img src="{{url_for('static',filename='../static/images/index/bg-right.png')}}">
        </div>
        <div class="imge-right">
            <img src="{{url_for('static',filename='../static/images/index/bg-left.png')}}">
        </div> -->
    </footer>
{% endblock %}