{% extends 'navbar.html' %}
{% block content %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"  type="text/css" href="{{url_for('static',filename='css/shopping_cart.css')}}">
</head>
    {% if 'loggedin' in session: %}
    <div class="sign-in-text">
        <p>{{ session['username']}}</p> 
        <a href="signout">  
            <div class="logout">
                <input type="button" value="LOGOUT">
            </div>
        </a>        
    </div>
    {% else: %}
    <div class="sign-in-text">
        <p>ผอ รสนิยมดี</p>         
    </div>
    {% endif %}
    <div class="song">
        <audio autoplay controlsList="nodownload">
            <source src="{{url_for('static',filename='../static/sounds/あなたの夜が明けるまで 傘村トータ cover.mp3')}}" type="audio/mpeg">
        </audio>
    </div>
    <div class="header"><h1>ตะกร้าสินค้า</h1></div>
    <div class="line"></div>
    {% if 'product_items' in session %}
    <div class="shopping-cart-list"><h1>รายการตะกร้าสินค้า</h1></div>
    <table class="product-table" >
        <tbody>
            <tr>
                <th></th>
                <th></th>
                <th>
                    <a href="/clear-item">
                        <input class="emtry-product" type="submit" value="Emtry">
                    </a>
                </th>
            </tr>
            {% for key, val in session['product_items'].items() %}
            {% set code = session['product_items'][key]['code'] %}
            {% set name = session['product_items'][key]['name'] %}
            {% set image = session['product_items'][key]['image'] %}
            {% set quantity = session['product_items'][key]['quantity'] %}
            {% set unit_price = session['product_items'][key]['price'] %}
            {% set total_price = session['product_items'][key]['total_price'] %}
            <tr>
                <td>
                    <br>
                    <div class="img-product">
                       <img src="/static/images/products/images/{{image}}">
                    </div>
                    <br>
                </td>
                <td >
                    <div class="name-product">
                    <p>{{name}}</p>
                    <div class="accessory-tex">
                        <span>ราคา</span>
                        <span>จำนวน</span>
                        <span>ราคารวม</span>
                    </div>
                    <form action="" method="post">
                        <div class="accessory-input">
                            <input type="button" value="{{unit_price }} บาท">
                            <input type="text" value="{{quantity}} เล่ม">
                            <input type="button" value="{{total_price}} บาท">
                        </div>
                    </form>
                </td>
                <td>
                    <a href="/product_item_delete/{{code}}">
                    <input class="del-product" type="submit" value="ลบ">
                    </a>
                </td>
            {% endfor %}
            </tr>
        </tbody>
    </table>
    <div class="box">
        <h1>
            ยอดชำระ {{ session['all_total_price'] }} บาท
        </h1>
        <input type="submit" value="ชำระเงิน">
    </div>

    {% else: %}
    <div class="none-product">
        <h1>ยังไม่มีรายการสินค้า</h1>
        <img src="{{url_for('static',filename='../static/images/accessory/ผีเสือ.png')}}">
    </div>
   
    {% endif %}
    
{% endblock %}