<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"  type="text/css" href="{{url_for('static',filename='css/signup.css')}}">
</head>
<body style="background-image: url('../static/images/bg-manga-dar.png');">
    {%block content%}
    <main>
        <div class="signup-border">
            <img src="{{url_for('static',filename='../static/images/BG-IMG.png')}}" alt="">
            <div class="text-signup">
                <h1>SIGN UP</h1>
            </div>
            <form method="POST">
                <div class="login">
                    <p1>Email</p1>
                    <input type="email" id="email" name="email" value="example@gmail.com" required>
                    <div class="password">
                        <p2>Password</p2>
                        <input type="password" id="password" name="password" value="*************" required>
                    </div>
                    <div class="confirm-pass">
                        <p3>Confirm Password</p3>
                        <input type="password" id="password-confirm" name="password-confirm" value="*************" required>
                    </div>
                    
                </div>
            </form>
            <form method="GET">
                <input class="btn-login" type="button" value="SIGN UP"> 
            </form>
            <div class="line"></div>
            <p4>Do not have account ?</p4>
            <p5>Forgot Password ? </p5>
            <input class="btn-signup" type="button" value="JOIN ME"> 
          
        </div>
       
    </main>
    {%endblock%}
</body>
</html>