<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"  type="text/css" href="{{url_for('static',filename='css/signin.css')}}">
</head>
<body style="background-image: url('../static/images/bg-manga-dar.png');">
    {%block content%}
    <main>
        <div class="singin-border">
            <img src="{{url_for('static',filename='../static/images/BG-IMG.png')}}" alt="">
            <div class="text-signin">
                <h1>SIGN IN</h1>
            </div>
            <form action="/submit" method = "POST">
                <div class="login">
                    <p1>Email</p1>
                    <input type="text" name="inputEmail" value="Example@gmail.com" required>
                    <p2>Password</p2>
                    <input type="password" name="inputPassword" value="*************" required>
                </div>
                <input class="btn-login" type="submit" value="SIGN IN"> 
            </form>
            <div class="line"></div>
            <p3>Do not have account ?</p3>
            <p4>Forgot Password ? </p4>
            <a href="{{ url_for('signup') }}">
                <input class="btn-signup" type="button" value="JOIN NOW"> 
            </a>
        </div>
    </main>
    {%endblock%}
</body>
</html>