<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"  type="text/css" href="{{url_for('static',filename='css/signup.css')}}">
</head>
<body style="background-image: url('../static/images/bg-manga-dar.png');">
    {%block content%}
    <main>
        <div class="signup-border">
            <img src="{{url_for('static',filename='../static/images/BG-IMG.png')}}" alt="">
            <div class="text-signup">
                <h1>SIGN UP</h1>
            </div>
            <form action="/signup" method = "POST">
                <div class="login">
                    <p1>Email</p1>
                    <input name="inputEmail" type="text"  value="example@gmail.com" required>
                    <div class="username">
                        <p2>Username</p2>
                        <input name="inputUsername" type="text"   value="Example" required>
                    </div>
                    <div class="confirm-pass">
                        <p3>Password</p3>
                        <input name="inputPassword" type="password" value="*************" required>
                    </div>
                </div>
                <input class="btn-login" type="submit" value="SIGN UP"> 
            </form>
            <div class="line"></div>
            <p4>Do not have account ?</p4>
            <p5>Forgot Password ? </p5>
            <input class="btn-signup" type="button" value="JOIN ME"> 
          
        </div>
       
    </main>
    {%endblock%}
</body>
</html>